openapi: "3.1.0"
info:
  title: GOTCHA Platform API
  version: "1.0.0"
  summary: "Multi-tenant customer engagement platform: inbox, AI employees, channels, commerce and billing."
  description: |-
    ## How this document is produced

    This specification is **generated from the source**, not written by hand. `scripts/api-docs/extract-routes.ts`
    parses the TypeScript AST of every Express router, resolves the middleware chain (including
    `router.use()` inherited middleware, path-scoped `router.use("/x", ...)` and spread arrays like
    `...ADMIN_ONLY`), reads Zod schemas referenced by `validate(...)`, and inspects each handler body for
    database operations and queue writes. `scripts/api-docs/generate-openapi.ts` then renders this file.

    Regenerate with `npm run api:docs`. CI can assert the checked-in file matches with `npm run api:docs:check`.

    ## What is trustworthy here, and what is not

    **Reliable**, because it is read directly from code: paths, methods, which middleware runs, the
    authentication and authorization requirements, path parameters, request bodies where a Zod schema
    exists, the Prisma models each handler touches, and the queues it writes to.

    **Inferred, and marked as such**: success status codes for handlers that never call `res.status()`
    explicitly (Express defaults to 200) carry `x-inferred`.

    **Not available from the source at all**: response body schemas. This codebase declares no response
    types anywhere - handlers call `res.json(...)` with ad-hoc objects. Successful responses are typed as
    `EnvelopeUnknown`, which documents the observed `{ data: ... }` convention without pretending to know
    the shape. Operations whose request body also has no schema are flagged `x-documentation-gap`.
    Closing that gap means adding schemas to the code, which is the only place it can be fixed honestly.

    ## Conventions

    - **Tenancy.** Almost every endpoint is tenant-scoped. The tenant is resolved from the access token by
      `resolveTenant`, never from a request parameter. Endpoints that deliberately cross tenants are marked
      `x-authorization.crossTenant`.
    - **Response envelope.** Handlers overwhelmingly answer `{ "data": ... }` on success and
      `{ "error": "..." }` on failure.
    - **Validation.** `validate(schema)` replaces `req.body` with the parsed value, so properties absent from
      the schema are stripped before the handler sees them.
    - **Async work.** Operations marked `x-async` enqueue background jobs (BullMQ); the HTTP response
      returns before that work finishes.
    - **Internal endpoints.** Operations tagged `Internal` are not routed by the gateway and are only
      reachable service-to-service. `x-publicly-exposed: false` marks them.
  contact:
    name: GOTCHA
    url: https://gotcha.co.il
servers:
- url: https://app.gotcha.co.il
  description: Production
- url: https://dev.gotcha.co.il
  description: Development
tags:
- name: AI Studio
  description: "Configuring AI employees: agents, tools, flows, funnels, approvals and the reasoning surfaces behind them."
- name: Analytics
  description: Reporting over conversations, agents and usage.
- name: Auth & Identity
  description: "Sign-in surface, the current principal, account self-service and the tenant-local permission model. GOTCHA implements no authentication itself: Authentik issues the token and this service verifies it."
- name: Billing
  description: Plans, pricing, checkout, invoices, AI credits and coupons.
- name: Channels
  description: Connecting and managing messaging channels, including the OAuth flows that link them.
- name: Contacts & CRM
  description: Customer records, identity resolution and the CRM panel that reads from connected systems.
- name: Conversations
  description: The inbox. Conversations, messages, routing rules, templates, broadcasts and scheduled sends.
- name: Embedded Chat
  description: The website widget that embeds on a customer's own site.
- name: GDPR & Compliance
  description: "Data subject rights: export, erasure and consent records."
- name: Historical Import
  description: One-time import of prior conversation history from a connected channel.
- name: Integrations
  description: Third-party business systems - CRMs, calendars and commerce platforms - and their OAuth connections.
- name: Internal
  description: Service-to-service only. Not exposed through the gateway; authenticated by a shared secret.
- name: Knowledge
  description: Knowledge bases, documents and the connected sources (Google Drive, Confluence) that keep them current.
- name: Notifications
  description: Notification delivery and per-user preferences.
- name: Onboarding
  description: The guided setup a new workspace runs once, plus the public invitation and waitlist endpoints that precede it.
- name: Platform Admin
  description: GOTCHA staff surface, not tenant-facing. Gated on platform admin rather than tenant role.
- name: Shopify
  description: "The Shopify app: storefront live chat, install flow and commerce context."
- name: Tenant Settings
  description: "Workspace configuration: departments, business policies, custom field definitions and general settings."
- name: Voice
  description: "The voice channel: inbound calls, live sessions, conference control and Twilio callbacks."
- name: Webhooks
  description: Inbound provider callbacks. These are authenticated by signature or shared secret, never by a user token.
- name: WhatsApp
  description: "WhatsApp Business specifics: numbers, Embedded Signup and per-number health."
security:
- bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "An access token issued by **Authentik**, verified by `authenticate()` in `packages/shared/src/middleware/auth.ts` against Authentik's JWKS. GOTCHA implements no authentication of its own: it does not hash passwords, issue tokens, or store sessions. The token's `sub` resolves to `User.authentikSubject`, and authorization (roles, permissions, tenancy) is then evaluated entirely from local records."
    internalServiceToken:
      type: apiKey
      in: header
      name: x-internal-key
      description: Shared secret for service-to-service calls inside the Docker network. Never valid from outside the gateway.
    providerSignature:
      type: apiKey
      in: header
      name: x-hub-signature-256
      description: Provider webhook signature (Meta `x-hub-signature-256`, Shopify `x-shopify-hmac-sha256`, Twilio `x-twilio-signature`, or a shared push token for Google Pub/Sub). The exact header varies by provider; verification is mandatory and fails closed.
  schemas:
    EnvelopeUnknown:
      type: object
      description: "The success envelope. `data` is deliberately untyped: this codebase declares no response schemas, so the precise shape is only knowable by reading the handler named in `x-source`. Typing it here would be a guess presented as a contract."
      properties:
        data:
          description: Operation-specific payload.
    Error:
      type: object
      description: The failure envelope used across services.
      properties:
        error:
          type: string
          description: Human-readable failure reason.
        details:
          type: array
          description: Field-level validation failures, when the failure came from `validate()`.
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
      required:
      - error
paths:
  /api/account:
    get:
      operationId: getAccount
      tags:
      - Auth & Identity
      summary: List Account
      description: |-
        Requires a valid Authentik access token.

        Implemented at `services/auth/src/routes/account.ts:57` (auth service).
      security:
      - bearerAuth: []
      x-service: auth
      x-source: services/auth/src/routes/account.ts:57
      x-operation-type: read
      x-publicly-exposed: true
      x-database:
      - user.findUnique
      - departmentMember.findFirst
      - tenant.findUnique
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found, or not visible to this tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      operationId: patchAccount
      tags:
      - Auth & Identity
      summary: Update Account
      description: |-
        Update own profile: name, phone, locale. (Email is a verified flow - separate.)

        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/auth/src/routes/account.ts:84` (auth service).
      security:
      - bearerAuth: []
      x-service: auth
      x-source: services/auth/src/routes/account.ts:84
      x-operation-type: write
      x-publicly-exposed: true
      x-database:
      - user.findUnique
      - user.update
      - identity.update
      - user.updateMany
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "400":
          description: Validation failed or the request was malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/account/email-change:
    post:
      operationId: postAccountEmailChange
      tags:
      - Auth & Identity
      summary: Create Email Change
      description: |-
        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/auth/src/routes/account.ts:402` (auth service).
      security:
      - bearerAuth: []
      x-service: auth
      x-source: services/auth/src/routes/account.ts:402
      x-operation-type: write
      x-publicly-exposed: true
      x-database:
      - user.findUnique
      - identity.findFirst
      - user.findMany
      - user.findFirst
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "400":
          description: Validation failed or the request was malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found, or not visible to this tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict with current state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/account/email-change/verify:
    post:
      operationId: postAccountEmailChangeVerify
      tags:
      - Auth & Identity
      summary: Create Verify
      description: |-
        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/auth/src/routes/account.ts:448` (auth service).
      security:
      - bearerAuth: []
      x-service: auth
      x-source: services/auth/src/routes/account.ts:448
      x-operation-type: write
      x-publicly-exposed: true
      x-database:
      - user.findUnique
      - identity.findFirst
      - user.findMany
      - user.findFirst
      - identity.update
      - user.updateMany
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "400":
          description: Validation failed or the request was malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found, or not visible to this tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict with current state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/account/login-history:
    get:
      operationId: getAccountLoginHistory
      tags:
      - Auth & Identity
      summary: List Login History
      description: |-
        Requires a valid Authentik access token.

        Implemented at `services/auth/src/routes/account.ts:363` (auth service).
      security:
      - bearerAuth: []
      x-service: auth
      x-source: services/auth/src/routes/account.ts:363
      x-operation-type: read
      x-publicly-exposed: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/account/mfa-gate:
    get:
      operationId: getAccountMfaGate
      tags:
      - Auth & Identity
      summary: List Mfa Gate
      description: |-
        Is this caller required to have MFA, and have they enrolled?

        The single source of truth the frontend enrolment gate polls. Enforcement is
        hierarchical (SYSTEM_ADMIN always; ADMIN/AGENT per the tenant's policy) and
        "enrolled" means an authenticator AND recovery codes. We stamp
        `User.mfaEnrolledAt` from the live Authentik state so the cheap local guard
        and the Workspace compliance counts stay in sync without their own IdP calls.

        Requires a valid Authentik access token.

        Implemented at `services/auth/src/routes/account.ts:176` (auth service).
      security:
      - bearerAuth: []
      x-service: auth
      x-source: services/auth/src/routes/account.ts:176
      x-operation-type: read
      x-publicly-exposed: true
      x-database:
      - user.findUnique
      - identity.update
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found, or not visible to this tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/account/password-link:
    post:
      operationId: postAccountPasswordLink
      tags:
      - Auth & Identity
      summary: Create Password Link
      description: |-
        One-time link into Authentik's password-change flow, for the caller.

        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/auth/src/routes/account.ts:149` (auth service).
      security:
      - bearerAuth: []
      x-service: auth
      x-source: services/auth/src/routes/account.ts:149
      x-operation-type: write
      x-publicly-exposed: true
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict with current state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/account/security:
    get:
      operationId: getAccountSecurity
      tags:
      - Auth & Identity
      summary: List Security
      description: |-
        Requires a valid Authentik access token.

        Implemented at `services/auth/src/routes/account.ts:136` (auth service).
      security:
      - bearerAuth: []
      x-service: auth
      x-source: services/auth/src/routes/account.ts:136
      x-operation-type: read
      x-publicly-exposed: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/account/security/device/{type}/{id}:
    delete:
      operationId: deleteAccountSecurityDeviceTypeId
      tags:
      - Auth & Identity
      summary: Delete :Type
      description: |-
        Remove one of the caller's own authenticator devices (TOTP / passkey / recovery set).

        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/auth/src/routes/account.ts:262` (auth service).
      security:
      - bearerAuth: []
      x-service: auth
      x-source: services/auth/src/routes/account.ts:262
      x-operation-type: write
      x-publicly-exposed: true
      x-database:
      - user.findUnique
      - identity.update
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
        description: "`type` path segment."
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: "`id` path segment."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "400":
          description: Validation failed or the request was malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found, or not visible to this tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict with current state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/account/sessions:
    delete:
      operationId: deleteAccountSessions
      tags:
      - Auth & Identity
      summary: Delete Sessions
      description: |-
        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/auth/src/routes/account.ts:333` (auth service).
      security:
      - bearerAuth: []
      x-service: auth
      x-source: services/auth/src/routes/account.ts:333
      x-operation-type: write
      x-publicly-exposed: true
      parameters:
      - name: includeCurrent
        in: query
        required: false
        schema:
          type: string
        description: Read from `req.query` by the handler; type is not declared in source.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict with current state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: getAccountSessions
      tags:
      - Auth & Identity
      summary: List Sessions
      description: |-
        Requires a valid Authentik access token.

        Implemented at `services/auth/src/routes/account.ts:297` (auth service).
      security:
      - bearerAuth: []
      x-service: auth
      x-source: services/auth/src/routes/account.ts:297
      x-operation-type: read
      x-publicly-exposed: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/account/sessions/{id}:
    delete:
      operationId: deleteAccountSessionsId
      tags:
      - Auth & Identity
      summary: Delete Session
      description: |-
        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/auth/src/routes/account.ts:314` (auth service).
      security:
      - bearerAuth: []
      x-service: auth
      x-source: services/auth/src/routes/account.ts:314
      x-operation-type: write
      x-publicly-exposed: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: "`id` path segment."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found, or not visible to this tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict with current state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/action-contracts:
    get:
      operationId: getActionContracts
      tags:
      - AI Studio
      summary: List Action Contracts
      description: |-
        Requires a valid Authentik access token. Tenant is resolved from the token, never from the request body. Tenant status must be ACTIVE.

        Implemented at `services/ai/src/routes/action-contracts-admin.ts:26` (ai service).
      security:
      - bearerAuth: []
      x-service: ai
      x-source: services/ai/src/routes/action-contracts-admin.ts:26
      x-operation-type: read
      x-publicly-exposed: true
      x-authorization:
        roles:
        - ADMIN
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: postActionContracts
      tags:
      - AI Studio
      summary: Create Action Contracts
      description: |-
        Requires a valid Authentik access token. Tenant is resolved from the token, never from the request body. Tenant status must be ACTIVE.

        This is a write operation.

        Implemented at `services/ai/src/routes/action-contracts-admin.ts:45` (ai service).
      security:
      - bearerAuth: []
      x-service: ai
      x-source: services/ai/src/routes/action-contracts-admin.ts:45
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        roles:
        - ADMIN
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
        "400":
          description: Validation failed or the request was malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict with current state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/action-contracts/{id}:
    delete:
      operationId: deleteActionContractsId
      tags:
      - AI Studio
      summary: Delete Action Contract
      description: |-
        Requires a valid Authentik access token. Tenant is resolved from the token, never from the request body. Tenant status must be ACTIVE.

        This is a write operation.

        Implemented at `services/ai/src/routes/action-contracts-admin.ts:139` (ai service).
      security:
      - bearerAuth: []
      x-service: ai
      x-source: services/ai/src/routes/action-contracts-admin.ts:139
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        roles:
        - ADMIN
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: "`id` path segment."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: getActionContractsId
      tags:
      - AI Studio
      summary: Get Action Contract
      description: |-
        Requires a valid Authentik access token. Tenant is resolved from the token, never from the request body. Tenant status must be ACTIVE.

        Implemented at `services/ai/src/routes/action-contracts-admin.ts:34` (ai service).
      security:
      - bearerAuth: []
      x-service: ai
      x-source: services/ai/src/routes/action-contracts-admin.ts:34
      x-operation-type: read
      x-publicly-exposed: true
      x-authorization:
        roles:
        - ADMIN
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: "`id` path segment."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found, or not visible to this tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      operationId: patchActionContractsId
      tags:
      - AI Studio
      summary: Update Action Contract
      description: |-
        Requires a valid Authentik access token. Tenant is resolved from the token, never from the request body. Tenant status must be ACTIVE.

        This is a write operation.

        Implemented at `services/ai/src/routes/action-contracts-admin.ts:105` (ai service).
      security:
      - bearerAuth: []
      x-service: ai
      x-source: services/ai/src/routes/action-contracts-admin.ts:105
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        roles:
        - ADMIN
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: "`id` path segment."
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "400":
          description: Validation failed or the request was malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found, or not visible to this tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/action-planner/approvals:
    get:
      operationId: getActionPlannerApprovals
      tags:
      - AI Studio
      summary: List Approvals
      description: |-
        F4.2 - Approval queue: list pending high-risk actions that were blocked

        Requires a valid Authentik access token. Tenant is resolved from the token, never from the request body. Tenant status must be ACTIVE.

        Implemented at `services/ai/src/routes/action-planner.ts:249` (ai service).
      security:
      - bearerAuth: []
      x-service: ai
      x-source: services/ai/src/routes/action-planner.ts:249
      x-operation-type: read
      x-publicly-exposed: true
      x-database:
      - auditLog.findMany
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/action-planner/classify:
    post:
      operationId: postActionPlannerClassify
      tags:
      - AI Studio
      summary: Create Classify
      description: |-
        POST /classify - decide chat vs execution mode for a prompt.

        Requires a valid Authentik access token. Tenant is resolved from the token, never from the request body. Tenant status must be ACTIVE.

        This is a write operation.

        Implemented at `services/ai/src/routes/action-planner.ts:126` (ai service).
      security:
      - bearerAuth: []
      x-service: ai
      x-source: services/ai/src/routes/action-planner.ts:126
      x-operation-type: write
      x-publicly-exposed: true
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "400":
          description: Validation failed or the request was malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/action-planner/execute:
    post:
      operationId: postActionPlannerExecute
      tags:
      - AI Studio
      summary: Create Execute
      description: |-
        POST /execute - run a previously planned ExecutionPlan (F3 Action Engine)

        Requires a valid Authentik access token. Tenant is resolved from the token, never from the request body. Tenant status must be ACTIVE.

        This is a write operation.

        Implemented at `services/ai/src/routes/action-planner.ts:273` (ai service).
      security:
      - bearerAuth: []
      x-service: ai
      x-source: services/ai/src/routes/action-planner.ts:273
      x-operation-type: write
      x-publicly-exposed: true
      x-database:
      - auditLog.findFirst
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "400":
          description: Validation failed or the request was malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/action-planner/plan:
    post:
      operationId: postActionPlannerPlan
      tags:
      - AI Studio
      summary: Create Plan
      description: |-
        POST /plan - produce an ExecutionPlan for a prompt (dry-run by default)

        Requires a valid Authentik access token. Tenant is resolved from the token, never from the request body. Tenant status must be ACTIVE.

        This is a write operation.

        Implemented at `services/ai/src/routes/action-planner.ts:79` (ai service).
      security:
      - bearerAuth: []
      x-service: ai
      x-source: services/ai/src/routes/action-planner.ts:79
      x-operation-type: write
      x-publicly-exposed: true
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "400":
          description: Validation failed or the request was malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/action-planner/simulate:
    post:
      operationId: postActionPlannerSimulate
      tags:
      - AI Studio
      summary: Create Simulate
      description: |-
        POST /simulate - dual-mode. Classifies first: chat-mode returns a natural
        answer with no plan; execution-mode plans + dry-run executes as before.

        Requires a valid Authentik access token. Tenant is resolved from the token, never from the request body. Tenant status must be ACTIVE.

        This is a write operation.

        Implemented at `services/ai/src/routes/action-planner.ts:177` (ai service).
      security:
      - bearerAuth: []
      x-service: ai
      x-source: services/ai/src/routes/action-planner.ts:177
      x-operation-type: write
      x-publicly-exposed: true
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "400":
          description: Validation failed or the request was malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Upstream provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/admin/analytics/backfill:
    post:
      operationId: postAdminAnalyticsBackfill
      tags:
      - Analytics
      summary: Create Backfill
      description: |-
        Backfill aggregates for conversations that closed before aggregation existed.

        Idempotent through the unique usageLogId link, so a partial run can simply be
        re-run rather than needing a reset.

        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/billing/src/routes/admin-analytics.ts:148` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-analytics.ts:148
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      x-database:
      - conversationUsageAggregate.findMany
      - conversation.findMany
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/admin/analytics/conversation-costs:
    get:
      operationId: getAdminAnalyticsConversationCosts
      tags:
      - Analytics
      summary: List Conversation Costs
      description: |-
        Global or filtered actual conversation cost.

        The averages are WEIGHTED (total usage / total completed conversations).
        Averaging per-organization averages would let a five-conversation pilot count
        as much as a 50,000-conversation account.

        Requires a valid Authentik access token.

        Implemented at `services/billing/src/routes/admin-analytics.ts:62` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-analytics.ts:62
      x-operation-type: read
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/admin/analytics/conversation-costs/by-tenant:
    get:
      operationId: getAdminAnalyticsConversationCostsByTenant
      tags:
      - Analytics
      summary: List By Tenant
      description: |-
        Per-organization breakdown. Each row is that organization's own weighted average.

        Requires a valid Authentik access token.

        Implemented at `services/billing/src/routes/admin-analytics.ts:83` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-analytics.ts:83
      x-operation-type: read
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      x-database:
      - tenant.findMany
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/admin/analytics/estimate-vs-actual:
    get:
      operationId: getAdminAnalyticsEstimateVsActual
      tags:
      - Analytics
      summary: List Estimate Vs Actual
      description: |-
        Configured public estimate vs actual internal average.

        Returns a warning and nothing else. `autoApplied` is always false, and no
        write happens on this path - only an explicit publish on the pricing router
        changes what customers see.

        Requires a valid Authentik access token.

        Implemented at `services/billing/src/routes/admin-analytics.ts:106` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-analytics.ts:106
      x-operation-type: read
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      parameters:
      - name: warnThresholdPct
        in: query
        required: false
        schema:
          type: string
        description: Read from `req.query` by the handler; type is not declared in source.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/admin/analytics/settle:
    post:
      operationId: postAdminAnalyticsSettle
      tags:
      - Analytics
      summary: Create Settle
      description: |-
        Force settlement of due conversations (ops). Idempotent.

        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/billing/src/routes/admin-analytics.ts:137` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-analytics.ts:137
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/admin/billing/enforcement-preview:
    get:
      operationId: getAdminBillingEnforcementPreview
      tags:
      - Billing
      summary: List Enforcement Preview
      description: |-
        Who would stop being served if enforcement were switched on.

        Read-only, and worth having because enforcement mode is one environment
        variable that changes what happens to live customer conversations. Flipping
        it without knowing the blast radius means learning it from the organizations
        whose bots went quiet.

        No authentication middleware is applied to this route.

        Implemented at `services/billing/src/routes/admin-exchange-rates.ts:297` (billing service).
      security: []
      x-service: billing
      x-source: services/billing/src/routes/admin-exchange-rates.ts:297
      x-operation-type: read
      x-publicly-exposed: true
      x-authorization:
        platformAdmin:
        - requirePlatformAdmin
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/admin/billing/exchange-rates:
    get:
      operationId: getAdminBillingExchangeRates
      tags:
      - Billing
      summary: List Exchange Rates
      description: |-
        Current state plus history, so the effect of a change is visible before it.

        No authentication middleware is applied to this route.

        Implemented at `services/billing/src/routes/admin-exchange-rates.ts:106` (billing service).
      security: []
      x-service: billing
      x-source: services/billing/src/routes/admin-exchange-rates.ts:106
      x-operation-type: read
      x-publicly-exposed: true
      x-authorization:
        platformAdmin:
        - requirePlatformAdmin
      parameters:
      - name: base
        in: query
        required: false
        schema:
          type: string
        description: Read from `req.query` by the handler; type is not declared in source.
      - name: quote
        in: query
        required: false
        schema:
          type: string
        description: Read from `req.query` by the handler; type is not declared in source.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: postAdminBillingExchangeRates
      tags:
      - Billing
      summary: Create Exchange Rates
      description: |-
        Propose a MANUAL override. Created as DRAFT: proposing changes nothing.

        Normal daily rates never come through here - they are fetched from the Bank
        of Israel automatically. This is for the cases where a person is genuinely
        asserting a number, and those are the cases that need a second pair of eyes.

        No authentication middleware is applied to this route.

        This is a write operation.

        Implemented at `services/billing/src/routes/admin-exchange-rates.ts:142` (billing service).
      security: []
      x-service: billing
      x-source: services/billing/src/routes/admin-exchange-rates.ts:142
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        platformAdmin:
        - requirePlatformAdmin
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
        "400":
          description: Validation failed or the request was malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/admin/billing/exchange-rates/{id}/approve:
    post:
      operationId: postAdminBillingExchangeRatesIdApprove
      tags:
      - Billing
      summary: Create Approve
      description: |-
        Approve a draft, making it THE rate.

        Retires the previous one in the same transaction, and the database refuses a
        second ACTIVE row - so a race here fails loudly rather than leaving the
        charge amount to whichever row a query returned first.

        No authentication middleware is applied to this route.

        This is a write operation.

        Implemented at `services/billing/src/routes/admin-exchange-rates.ts:209` (billing service).
      security: []
      x-service: billing
      x-source: services/billing/src/routes/admin-exchange-rates.ts:209
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        platformAdmin:
        - requirePlatformAdmin
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: "`id` path segment."
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/admin/billing/exchange-rates/{id}/retire:
    post:
      operationId: postAdminBillingExchangeRatesIdRetire
      tags:
      - Billing
      summary: Create Retire
      description: |-
        Retire a rate without replacing it.

        Leaves the platform unable to charge, on purpose. That is the point of having
        the lever.

        No authentication middleware is applied to this route.

        This is a write operation.

        Implemented at `services/billing/src/routes/admin-exchange-rates.ts:229` (billing service).
      security: []
      x-service: billing
      x-source: services/billing/src/routes/admin-exchange-rates.ts:229
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        platformAdmin:
        - requirePlatformAdmin
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: "`id` path segment."
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/admin/billing/exchange-rates/preview:
    post:
      operationId: postAdminBillingExchangeRatesPreview
      tags:
      - Billing
      summary: Create Preview
      description: |-
        Preview a conversion without saving anything.

        So an approver can check a figure against a real plan price before it becomes
        the number on someone's statement.

        No authentication middleware is applied to this route.

        This is a write operation.

        Implemented at `services/billing/src/routes/admin-exchange-rates.ts:247` (billing service).
      security: []
      x-service: billing
      x-source: services/billing/src/routes/admin-exchange-rates.ts:247
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        platformAdmin:
        - requirePlatformAdmin
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "400":
          description: Validation failed or the request was malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/admin/billing/fx-refresh:
    post:
      operationId: postAdminBillingFxRefresh
      tags:
      - Billing
      summary: Create Fx Refresh
      description: |-
        Fetch the official rate now.

        Read-only against the Bank of Israel and safe to invoke by hand - useful when
        the feed has just recovered and nobody wants to wait for the next tick.

        No authentication middleware is applied to this route.

        This is a write operation.

        Implemented at `services/billing/src/routes/admin-exchange-rates.ts:192` (billing service).
      security: []
      x-service: billing
      x-source: services/billing/src/routes/admin-exchange-rates.ts:192
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        platformAdmin:
        - requirePlatformAdmin
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/admin/billing/fx-status:
    get:
      operationId: getAdminBillingFxStatus
      tags:
      - Billing
      summary: List Fx Status
      description: |-
        The official rate feed: what it says, how old it is, and whether charging is
        possible right now.

        Read-only. It reports the stored state and does not trigger a fetch, so
        opening the page cannot itself cause a call to the central bank.

        No authentication middleware is applied to this route.

        Implemented at `services/billing/src/routes/admin-exchange-rates.ts:177` (billing service).
      security: []
      x-service: billing
      x-source: services/billing/src/routes/admin-exchange-rates.ts:177
      x-operation-type: read
      x-publicly-exposed: true
      x-authorization:
        platformAdmin:
        - requirePlatformAdmin
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/admin/billing/payment-readiness:
    get:
      operationId: getAdminBillingPaymentReadiness
      tags:
      - Billing
      summary: List Payment Readiness
      description: |-
        Requires a valid Authentik access token.

        Implemented at `services/billing/src/routes/admin-payment-readiness.ts:39` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-payment-readiness.ts:39
      x-operation-type: read
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/admin/billing/reconciliations:
    get:
      operationId: getAdminBillingReconciliations
      tags:
      - Billing
      summary: List Reconciliations
      description: |-
        Charges nobody could settle automatically.

        Deliberately read-only and on the platform surface: resolving one means
        looking at the provider's own records, and the action that follows is a
        refund or a manual activation, both of which already have their own audited
        paths. A one-click "mark as paid" here would be a way to grant a plan with no
        evidence at all.

        No authentication middleware is applied to this route.

        Implemented at `services/billing/src/routes/admin-exchange-rates.ts:269` (billing service).
      security: []
      x-service: billing
      x-source: services/billing/src/routes/admin-exchange-rates.ts:269
      x-operation-type: read
      x-publicly-exposed: true
      x-authorization:
        platformAdmin:
        - requirePlatformAdmin
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/admin/billing/reconciliations/sweep:
    post:
      operationId: postAdminBillingReconciliationsSweep
      tags:
      - Billing
      summary: Create Sweep
      description: |-
        Run the sweep now.

        It only ever asks the provider what happened - it never re-submits a charge -
        so triggering it by hand is safe. Useful when a provider outage has just
        ended and nobody wants to wait for the next tick.

        No authentication middleware is applied to this route.

        This is a write operation.

        Implemented at `services/billing/src/routes/admin-exchange-rates.ts:280` (billing service).
      security: []
      x-service: billing
      x-source: services/billing/src/routes/admin-exchange-rates.ts:280
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        platformAdmin:
        - requirePlatformAdmin
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/admin/billing/shopify/grandfather/{tenantId}:
    delete:
      operationId: deleteAdminBillingShopifyGrandfatherTenantId
      tags:
      - Billing
      summary: Delete Grandfather
      description: |-
        Withdraw a grant. SYSTEM_ADMIN only, attributable, and never silent.

        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/billing/src/routes/shopify-billing.ts:350` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/shopify-billing.ts:350
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        platformAdmin:
        - requireSystemAdmin
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
        description: "`tenantId` path segment."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found, or not visible to this tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: getAdminBillingShopifyGrandfatherTenantId
      tags:
      - Billing
      summary: Get Grandfather
      description: |-
        What the rules say, without acting on it.

        SYSTEM_ADMIN only - it exposes the evidence blob, which names subscription
        and payment dates that a tenant user has no reason to inspect through this
        surface.

        Requires a valid Authentik access token.

        Implemented at `services/billing/src/routes/shopify-billing.ts:311` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/shopify-billing.ts:311
      x-operation-type: read
      x-publicly-exposed: true
      x-authorization:
        platformAdmin:
        - requireSystemAdmin
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
        description: "`tenantId` path segment."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: postAdminBillingShopifyGrandfatherTenantId
      tags:
      - Billing
      summary: TenantId action
      description: |-
        Grant grandfathering on an admin's authority.

        SYSTEM_ADMIN only, and `approvedBy` is taken from the AUTHENTICATED USER
        rather than the body. An override whose approver could be typed by the caller
        would be an audit trail that records whatever the caller wanted it to.

        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/billing/src/routes/shopify-billing.ts:332` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/shopify-billing.ts:332
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        platformAdmin:
        - requireSystemAdmin
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
        description: "`tenantId` path segment."
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/admin/coupons:
    get:
      operationId: getAdminCoupons
      tags:
      - Billing
      summary: List Coupons
      description: |-
        Requires a valid Authentik access token.

        Implemented at `services/billing/src/routes/admin-coupons.ts:62` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-coupons.ts:62
      x-operation-type: read
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: postAdminCoupons
      tags:
      - Billing
      summary: Create Coupons
      description: |-
        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/billing/src/routes/admin-coupons.ts:71` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-coupons.ts:71
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/admin/coupons/{id}/active:
    post:
      operationId: postAdminCouponsIdActive
      tags:
      - Billing
      summary: Create Active
      description: |-
        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/billing/src/routes/admin-coupons.ts:92` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-coupons.ts:92
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: "`id` path segment."
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/admin/coupons/assignable-tenants:
    get:
      operationId: getAdminCouponsAssignableTenants
      tags:
      - Billing
      summary: List Assignable Tenants
      description: |-
        Organizations to assign a coupon to, for the sysadmin picker. Name + id
        only: this is a chooser, not a tenant directory.

        Requires a valid Authentik access token.

        Implemented at `services/billing/src/routes/admin-coupons.ts:179` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-coupons.ts:179
      x-operation-type: read
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      x-database:
      - tenant.findMany
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Read from `req.query` by the handler; type is not declared in source.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/admin/coupons/assignments/{assignmentId}:
    delete:
      operationId: deleteAdminCouponsAssignmentsAssignmentId
      tags:
      - Billing
      summary: Delete Assignment
      description: |-
        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/billing/src/routes/admin-coupons.ts:160` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-coupons.ts:160
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      parameters:
      - name: assignmentId
        in: path
        required: true
        schema:
          type: string
        description: "`assignmentId` path segment."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/admin/coupons/tenants/{tenantId}:
    get:
      operationId: getAdminCouponsTenantsTenantId
      tags:
      - Billing
      summary: Get Tenant
      description: |-
        Every assignment for one organization, live ones flagged.

        Namespaced under /admin/coupons rather than /admin/tenants: the gateway
        proxies admin routes by prefix, so a second prefix would need its own
        location block - and a route the gateway does not know about is a feature
        that works in development and 404s in production.

        Read-level permission: seeing that a customer has 20% off is support
        information; granting it is not.

        Requires a valid Authentik access token.

        Implemented at `services/billing/src/routes/admin-coupons.ts:119` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-coupons.ts:119
      x-operation-type: read
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
        description: "`tenantId` path segment."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: postAdminCouponsTenantsTenantId
      tags:
      - Billing
      summary: TenantId action
      description: |-
        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/billing/src/routes/admin-coupons.ts:128` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-coupons.ts:128
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
        description: "`tenantId` path segment."
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/admin/evaluation:
    post:
      operationId: postAdminEvaluation
      tags:
      - Billing
      summary: Create Evaluation
      description: |-
        Provision evaluation access. Sysadmin only - there is no customer
        self-activation path anywhere in the system.

        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/billing/src/routes/admin-analytics.ts:195` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-analytics.ts:195
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "400":
          description: Validation failed or the request was malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/admin/evaluation/convert:
    post:
      operationId: postAdminEvaluationConvert
      tags:
      - Billing
      summary: Create Convert
      description: |-
        Convert an evaluation into a paid plan. Manual, never automatic.

        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/billing/src/routes/admin-analytics.ts:219` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-analytics.ts:219
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "400":
          description: Validation failed or the request was malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-documentation-gap: request-body-unschematized
  /api/admin/evaluation/templates:
    get:
      operationId: getAdminEvaluationTemplates
      tags:
      - Billing
      summary: List Templates
      description: |-
        Requires a valid Authentik access token.

        Implemented at `services/billing/src/routes/admin-analytics.ts:187` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-analytics.ts:187
      x-operation-type: read
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/admin/pricing/currency:
    get:
      operationId: getAdminPricingCurrency
      tags:
      - Billing
      summary: List Currency
      description: |-
        Requires a valid Authentik access token.

        Implemented at `services/billing/src/routes/admin-pricing.ts:910` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-pricing.ts:910
      x-operation-type: read
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      x-database:
      - fxRateSnapshot.findFirst
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeUnknown"
          x-inferred: Status inferred from Express defaults; the handler calls no explicit res.status() for success.
        "401":
          description: Missing, invalid or expired access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Authenticated, but not permitted to perform this operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      operationId: putAdminPricingCurrency
      tags:
      - Billing
      summary: Replace Currency
      description: |-
        Requires a valid Authentik access token.

        This is a write operation.

        Implemented at `services/billing/src/routes/admin-pricing.ts:922` (billing service).
      security:
      - bearerAuth: []
      x-service: billing
      x-source: services/billing/src/routes/admin-pricing.ts:922
      x-operation-type: write
      x-publicly-exposed: true
      x-authorization:
        gates:
        - requirePlatformPermission
      x-database:
      - pricingCurrencyConfig.findFirst
      - pricingCurrencyConfig.update
      - pricingCurrencyConfig.create
      requestBody:
        required: false
        description: No Zod schema is declared for this route; the handler reads `req.body` directly. Shape is not verifiable from source.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
[...]
